{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
<h1>Привет, я Мария!   
<img src="{% static 'img/my_picture.jpg' %}" width="100" height="105" alt="">
</h1>
<p>
  Приветствую всех в этом новом приложении. Здесь вы можете создавать
  посты на темы о Л.Н.Толстом, о кошках (и не только), или о своих
  музыкальных предпочтениях.
</p>
<p>
  Это моё первое приложение, созданное в процессе моего обучения
  программированию в направлении бэкэнда. Все очень несовершенно,
  но прошу не судить строго, я очень старалась.   
</p>
{% endblock %}