{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>
      Бэкэнд приложения написан на языке Python. Это объектно-ориентированный язык программирования.
      Каждая сущность в нем есть объект. Для него важен тип данных, с которым производится операция.
      На курсах Яндекс-Практикума я узнала о типах данных, о циклах и ветвлениях, функциях, классах,
      о синтаксисе Python и многом другом, что позволило мне приступить к изучению фреймворка Django.
    </p>
    <p>
      Django помогает разрабатывать разного рода приложения, создавать и взаимодействовать 
      с базой данных, принимать запросы, динамически формировать и отправлять пользователям готовые 
      HTML-странички.
    </p>
    <p>
      Начало положено, и я буду совершенствоваться в этом направлении. Пожелайте мне удачи!
    </p>
  </article>
</div>
{% endblock %}